.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    margin: 3rem 0;
}

.input {
    width: 13rem;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: rgb(251, 238, 217);
    border-radius: 0.3rem;
    color: rgb(43, 43, 43);
    border: none;

}

.input:placeholder-shown {
    font-size: 1rem;
}

.input:focus, .input:hover {
    border: 2px solid rgb(151, 111, 195);
}

.submit {
    margin: 0 auto;
    padding: 0.5rem;
    display: block;
    width: 10rem;
    font-size: 1.3rem;
    background-color: rgb(216, 120, 47);
    border-radius: 0.3rem;
    color: rgb(43, 43, 43);
    border: none;
    cursor: pointer;
}

.submit:hover {
    border: 2px solid rgb(151, 111, 195);
}